*.exe linguist-vendored
*.zip linguist-vendored
*.mp4 linguist-vendored
*.js linguist-language=TypeScript
*.jsx linguist-language=TypeScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.json linguist-language=JSON
*.css linguist-language=CSS
